*{
    font-family: 'Pretendard';
}


#wrap{
    width:370px;
    margin: 0 auto;
    min-width: 350px;
}

.container{
    width: 95%;
    margin: 0 auto;
}

/*header영역*/
.header{
    width: 100%;
    margin: 0 auto;
    height: 70px;
    position: relative;
}

.logo{
    width:100%;
    text-align: center;
}

.logo img{
  height: 60px;
}

.search{
    width: 90%;
    margin: 0 auto;
    margin-bottom: var(--margin30) ;
    padding: var(--padding10) 0;
    border: 1px solid var(--cs05) ;
    border-radius: 20px;
    text-align: center; 
}
.search input{
    width: 140px;
}



/*bottom_nav*/
.bottom_nav{
    width:370px;
    margin: 0 auto;  
    position: fixed;
    bottom: 0;
}

.bottom_nav_ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--gs02);
    
    width: 100%;
}
.bottom_nav_li{
    width: 20%;
    height: 60px;
    /* display: flex;
    align-items: center;
    justify-content: center;      */
}

.bottom_nav_li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fontSize14);
}

.bottom_nav_li.on{
    background: var(--cs05);    
}
.bottom_nav_li a.on{
    color: var(--cs01);
}

.bottom_nav_li i{
    margin: var(--margin10) 0;
    font-size: var(--fontSize18);
}

/*footer section*/
.footer{
    width: 100%;
    height: auto;
    margin-top: var(--margin50) ;
    margin-bottom: var(--margin100);
}
.footer ul{
    display: flex;
    align-items: center;   
    font-size: var(--fontSize12);
}
.footer_ul{
    justify-content: space-around;
}
.store_information,.site_informtion{
    justify-content: center;
}

.footer p{
    text-align: center;
    font-size: var(--fontSize12);
}