

.tab_ul{
    width: 100%;
    display: flex;
    align-items: center;
}
.tab_li{
    font-size: var(--fontSize18);
    margin-right: var(--margin20);
}

.tab_li .on{
    color: var(--cs05);   
    font-weight: var(--fontWeight700);
}


.job_btn_section{
    width: 100%;
    text-align: right;
}
.job_btn{
    background:var(--cs02);   
    font-size: var(--fontSize14);
    display: inline-block;
    padding: var(--padding10);
    margin: var(--margin10) 0;
    border-radius: 5px;
    color: var(--gs01);
}
.job_btn a{
    color: var(--gs01);
}

/*popUp section*/
.job_search{
    width: 35%;
    font-size: var(--fontSize14);
    border: 1px solid var(--cs05);
    border-radius: 15px;    
    text-align: center;
    padding: var(--padding10);
    cursor: pointer;
    color: var(--cs05);
}


.job_popup{
    width: 370px;
    background: var(--gs08);
    opacity: 80%;
    height: 100%;
    position: fixed;
    bottom: -100%;
    transition: 0.5s;
}
.job_popup.on{
    bottom: 0;
    transition: 0.5s;
}

.popup_section{    
    width: 370px;
    position: absolute;
    bottom: 100px;
    z-index: 10;
    background: var(--gs01);
}

.popup_section.active{
    bottom: 147px;
}
.popup_section h2{
    text-align: center;
    font-size: var(--fontSize22);
    font-weight: var(--fontWeight500);
    padding: var(--padding15);
}
.close_btn{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: var(--fontSize18);
    font-weight: var(--fontWeight500);
}
.job_search_click{
    position: absolute;
    right: 25px;
}

.type_li{
    /* display: flex;;
    align-items: center;
    justify-content: space-around; */
}
.type_li span{
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: var(--padding15) 0 ;
    background: var(--gs04);
    color: var(--gs09);
    cursor: pointer;
}
.type_li span.click{
    background: var(--gs01);
    color: var(--cs04);    
}

.type_list_ul{
    width: 50%;
    height: 400px;
    text-align: center;
    background: var(--gs01);
    position: absolute;
    top: 55px;
    right: 0;
    overflow: scroll;
    display: none;;
}

.type_list_ul.active{
    display: block;
}
.type_list_li{
    padding: var(--padding10) 0 ;
    cursor: pointer;
    font-size: var(--fontSize15);
}
.type_list_li:hover{
    color: var(--cs08);
}

.click_list_section{
    width: 100%;
    /* height: 160px; */
    position: absolute;
    bottom: -23%;
    background: var(--gs01);
    padding: var(--padding20) var(--padding10);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px -5px 3px rgba(0,0,0,0.5);
}
.click_list_section.active{
    bottom: -35%;
}
.click_txt{
    display: flex;
    align-items: center;
}
.click_txt h5{
    font-size: var(--fontSize16);
}
.click_list_count{
    font-weight: var(--fontWeight600);
    color: var(--cs04);
    display: inline-block;
    margin-left: var(--margin5);
    margin-right: var(--margin10);
}
.click_infor{
    font-size: var(--fontSize13);
}
.click_list{
    width: 95%;
    height: auto;
    margin: var(--margin10) auto;
}

.c_list{
    background: var(--gs02);
    border: 1px solid var(--gs05);
    padding: var(--padding5) var(--padding10);
    border-radius: 15px;
    font-size: var(--fontSize15);
    display: inline-block;
    margin-right: var(--margin5);
    margin-bottom: var(--margin10);
}
.c_reset_btn{
    width: 15px;
    height: 15px;
    background: var(--gs06);
    color: var(--gs02);
    position: relative;
    right: 20px;
    bottom: 13px;        
    border-radius: 50%;
    vertical-align: middle;
    font-size: var(--fontSize12);
}
.click_btn_section{
    width: 100%;
    text-align: center;
}
.click_btn_section button{
    padding: var(--padding10) 0;
}
.reset_btn{
    width: 30%;
    border: 1px solid var(--gs06);
}
.list_search_btn{
    width: 60%;
    border: 1px solid var(--cs04);
    background: var(--cs04);
    color: var(--gs01);
}
.job_information{
    text-align: center;
    margin: 30px 0;
}

/*//////////*/